# This workflow  only runs linting and builds the documentation

name: Lint code and build docs

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  setup-build:
    name: Ex1 (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@master
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --dev
      - name: Build Docs
        run: |
          source .venv/bin/activate
          make build-docs -B
      - name: Run ruff
        run: |
          uv run -- ruff check
          uv run -- ruff format --check
      - name: Run mypy type checking
        run: uv run -- mypy matplotcheck/base.py
